body {
  background: #141414;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.title {
  flex: 1;
  position: relative;
  text-align: center;
  top: 10vh;
}

h1 {
  font-size: 20vh;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0;
  -webkit-text-fill-color: transparent;
  background-image: url("http://66.media.tumblr.com/9d5be60c175cdbe15e875fef01b9a66b/tumblr_ntz3mmEFFr1twd8ddo1_500.gif");
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}

h2 {
  color: gray;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

.txt-rotate {
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px #ae16f0, 0 0 20px #ae16f0, 0 0 40px white;
}